@import url("https://use.typekit.net/iej6xze.css");

@font-face {
	font-family: "PxGrotesk";
	src: url("./font/PxGrotesk/PxGroteskRegular-Regular.eot");
	src: url("./font/PxGrotesk/PxGroteskRegular-Regular.eot?#iefix") format("embedded-opentype"),
		url("./font/PxGrotesk/PxGroteskRegular-Regular.svg#PxGroteskRegular") format("svg"),
		url("./font/PxGrotesk/PxGroteskRegular-Regular-webfont.woff") format("woff");
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: "PxGrotesk";
	src: url("./font/PxGrotesk/PxGroteskRegular-Italic.eot");
	src: url("./font/PxGrotesk/PxGroteskRegular-Italic.eot?#iefix") format("embedded-opentype"),
		url("./font/PxGrotesk/PxGroteskRegular-Italic.svg#PxGroteskRegular") format("svg"),
		url("./font/PxGrotesk/PxGroteskRegular-Italic-webfont.woff") format("woff");
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "PxGrotesk";
	src: url("./font/PxGrotesk/PxGroteskLight-Regular.eot");
	src: url("./font/PxGrotesk/PxGroteskLight-Regular.eot?#iefix") format("embedded-opentype"),
		url("./font/PxGrotesk/PxGroteskLight-Regular.svg#PxGroteskLight") format("svg"),
		url("./font/PxGrotesk/PxGroteskLight-Regular-webfont.woff") format("woff");
	font-style: normal;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "PxGrotesk";
	src: url("./font/PxGrotesk/PxGroteskLight-Italic.eot");
	src: url("./font/PxGrotesk/PxGroteskLight-Italic.eot?#iefix") format("embedded-opentype"),
		url("./font/PxGrotesk/PxGroteskLight-Italic.svg#PxGroteskLight") format("svg"),
		url("./font/PxGrotesk/PxGroteskLight-Italic-webfont.woff") format("woff");
	font-style: italic;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}
