/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url("../../font.css");


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #000;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 60px;
$mainFont: 'PxGrotesk', Helvetica, sans-serif;
$headingFont: 'PxGrotesk', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #fff;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: rgba(255,255,255,0.5);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.codesection {
	height: 800px;
	top: initial !important;
	padding: 0 !important;
}

.codesection__code {
	height: 100%;
	max-height: 100% !important;
	padding: 15px 20px 0px 20px !important;
	font-size: 80% !important;
}

.codesection__pre{
	margin: 0 auto !important;
	height: 100%;
	max-height: 100% !important;
}

.red-text {
	color:red;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------